*{
    padding: 0%;
    margin: 0%;
}
header{
    background-color: #4CAF50;
}
h1{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
    color: white;
}


.form-container {

    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);}

    form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 2px;
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    padding: 12px;
    background: #4CAF50;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    transform: scale(1.01);
     transition: 0.5s ease;
}
a{
    text-decoration: none;
    color: white;
}