*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eeeeee;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #4CAF50;
    align-items: center;
    color: white;
}
header nav{
    display: flex;
}
header nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
    margin-top: 10px;
}
nav  a {
        color: #ffffff;
        text-decoration: none;
        margin-left: 20px;
        font-size: 16px;
        transition: color 0.3s ease;
}
header nav ul li a:hover{
    color:#E67E22;
}
/* end header */
/* start landing */
.landing {
    background-image: url(../images/Bakery\ Design.jpg);
    background-size: cover;   /* fills the entire container */
    background-position:center; /* keeps it centered */
    width: 100%;
    height: calc(100vh - 60px);
    color: #333333;
    text-align: center;
    padding: 80px 20px;
    position: relative;
}
.landing .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}
.landing .text{
    margin-top: 170px;
    position: relative;
    z-index: 1;
}
.landing .text h1{
    color: #eeeeeeeb;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    font-size: 35px ;
    font-family: 'Poppins', sans-serif;

}
.landing p {
    color: #eeeeee;
    font-size: 18px;
}
/* end landing */
.container {
    display:flex;
    justify-content: center;
    gap: 50px;
    padding: 10px;
}
.card{
    padding: 15px;
}
.customer-card, .prod-card, .order-card {
    background-color: #fff;
    border-radius: 20px;
    width: 400px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: 0.6s;
    font-family: 'Roboto', sans-serif;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
.customer-card:hover,
.prod-card:hover{
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.8);
}
.customer-card .img, 
.prod-card .img{
    width: 100%;
    height: 300px;
}
.customer-card .img img, 
.prod-card  .img img{
    width:100%;
    height: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.managebtn{
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.managebtn:hover{
    background-color: #45a049;
}
footer{
    text-align: center;
    padding: 15px;
    background-color: black;
    color:#FFFFFF;
}

a{
    text-decoration: none;
    color: white;
}