* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb347;
}

.checkout {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 450px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.checkout h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: gray;
}

.items .header,
.items .item,
.items .total {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.items .header {
  border-bottom: 3px solid gray;
  font-weight: bold;
}

.items .total {
  border-top: 3px solid gray;
  margin-top: 15px;
  font-size: 20px;
  color: #000;
}

.payment {
  margin-top: 25px;
}

.payment p {
  font-size: 18px;
  margin-bottom: 10px;
}

.btn-group {
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  background: black;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

button:hover{
  transform: scale(1.05);
}