*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

body {
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;    
    background-color: #ffb347;
  }

.checkout {
  border: 5px solid white; 
  padding: 20px;
  text-align: center;
}

.checkout{
    font-size: 25px;
}
#check-font{
  font-size: 50px;
}

.items {
  width: 500px; 
}

.items .header,
.items .item,
.items .total {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.items .header {
  border-bottom: 5px solid white;
}

.items .total {
  font-weight: bold;
  border-top: 5px solid white;
  margin-top: 8px;
}
button{
  background-color: black;
  color: white;
  border: none;
  width: 150px;
  height: 50px;
  cursor: pointer;
}
button:hover{
  background-color: white;
  color: black;

}