body {
  font-family: Arial, sans-serif;
  background: #fff8ec;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background: #ffb347;
  padding: 20px;
  display: flex;
  align-items: center;
}

header h1 {
  margin: auto; 
  color: white;
}

#cart {
  width: 35px;
  height: 25px;
  cursor: pointer;   
  transition: 0.5s;
}

#cart:hover{
  transform: scale(1.5);
}

.add-to-cart {
  opacity: 0;
  padding: 8px 12px;
  background-color: #ffb347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.card:hover .add-to-cart {
  opacity: 1;
}

.search-container {
  margin: 30px auto;
}

#searchInput {
  width: 50%;
  padding: 12px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  padding: 20px;
  justify-content: center; 
}

.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  max-width: 300px; 
  margin: auto;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover; 
  border-radius: 10px;
}

.card h3 {
  margin: 10px 0 5px;
}

.card p {
  color: #ff7f50;
  font-weight: bold;
}
