body {
    font-family: Arial, sans-serif;
    background-color: #eeeeee;
    color: #000000;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #eeeeee;
    background-color: #4CAF50;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.add-customer button:hover {
    background-color: #b8860b;
}