body {
    font-family: Arial, sans-serif;
    background-color: #eeeeee; 
    color: #000000; 
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color:#eeeeee;
    background-color: #4CAF50; 
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:hover {
    background-color: #f1f1f1;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.stock-low {
    color: red;
    font-weight: bold;
}
.action-btn {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
.add-btn {
    background-color: #4CAF50;
    color: white;
}
.update-add:hover {
    background-color: #45a049;
}
.delete-btn {
    background-color: #f44336;
    color: white;
}
.delete-btn:hover {
    background-color: #da190b;
}
.add-products-btn {
    background-color: #4CAF50; 
    color: white; 
    padding: 12px 24px;
    font-size: 16px; 
    border: none; 
    border-radius: 4px;
    cursor: pointer; 
    transition: background-color 0.3s;
    margin-left: 110px;
    
}
a {
    text-decoration: none; 
    color: white;
}
.add-products-btn:hover {
    background-color: #45a049; 
}

.add-products-btn:active {
    background-color: #3e8e41; 
}
